
<ion-header>
	<ion-navbar color="primary">
		<ion-title>YouSecured</ion-title>
		<ion-buttons end>
			<button ion-button icon-only menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<h2>Welcome to YouSecured!</h2>
	<div> {{ (usr | async)?.uid }} </div>
	<button (click)="login()">Login</button>
	<button (click)="logout()">Logout</button>
	<div padding *ngIf="!signup">
		<p>Configure your account</p>
		<ion-list>
			<ion-item>
				<ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" placeholder="Password" [(ngModel)]="password"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" placeholder="Phone number" [(ngModel)]="phoneNumber"></ion-input>
			</ion-item>
		</ion-list>
		<button ion-button color="secondary" block (click)="submitSignUp()">Sign Up</button>
		<ion-list>
			<ion-item *ngFor="let user of users | async">
				<p>Name : {{user.name}}</p>
				<p>Email : {{user.email}}</p>
			</ion-item>
		</ion-list>
	</div>
	<div padding *ngIf="signup && !addedContact">
		<div>
			Choose contacts which will be alerted when you need help.
			<button ion-button icon-start color="secondary" block (click)="submitAddContact()">
				<ion-icon name="contact"></ion-icon>
				Add contact
			</button>
		</div>
	</div>
	<ion-grid *ngIf="addedContact">
		<ion-row>
			<ion-col col-12>
				Click on Help button to send alert SMS with your GPS position and turn on the video camera.
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				Send "I'm OK" message and turn off the video camera when you'll be in security.
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<img src="../../assets/img/help-push-button-120x120.png" alt="help button" id="bigHelpButton">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<img src="../../assets/img/help-safe-button.png" alt="safe button" class="brand-logo" id="bigSafeButton">
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
		
