img {
	height: 70vh;
	width: auto;
	margin: auto;
	display: block;
}
.buttonLoginFB {
	text-transform: none;
	background-color: #4267B2;
	height: 40px;
	border-radius: 2px;
	color: white;
	font-size: 16px;
	font-family: Helvetica, Arial,sans-serif;
}

.buttonLoginFB .button-inner {
	font-size: 16px;
	font-family: Helvetica, Arial,sans-serif;
	justify-content: flex-start;
}

.buttonLoginFB ion-icon {
	font-size: 2em;
	line-height: 0.67em;
	//margin-left: 5px;
}